/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header a {
	margin: 0 0 5px;
	color: rgb(161, 190, 184);
	font-size: 90px;
	font-weight: bold;
	font-family: 'Baskerville', serif;
	display: block;
	text-decoration-line: none;
}

h2 {
	color: rgb(126, 128, 122);
	font-size: 2em;
}

p {
	color: rgb(85, 85, 85);
}

#featured a {
	color: #1783bb;
	text-decoration: none;
}

footer {
	font-size: 1em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	text-align: right;
}

#featured img {
	border: 5px rgb(152, 173, 166) solid;
}
